{% extends 'base.html.twig' %}

{% block title %}New Site{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Créer un nouveau Site</h1>
    </div>


    {{ include('site/_form.html.twig') }}

{% endblock %}
