{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>
    <form method="post">
        {{ form_row(form.password) }}
        {{ form_row(form.confirmPassword) }}
        <button type="submit">Réinitialiser</button>
    </form>
{% endblock %}
